#main(ng-show="isLoaded")
  header#header.row.hype-row
    div(ng-include="" src="'layout/header-logo.html'" onload="isLoaded = true")
    .col-xs-12
  .row.hype-row
    .col-xs-12
  .row.hype-row
    .col-xs-12
  .row.hype-row
    .col-xs-12

