/*------------------
MAIN STYLES
------------------*/

body {
    background: #111;
    font: 14px Strait;
    color: #ddd;
    margin: 0 auto;
}

.center {
    max-width: 400px;
    margin: 0 auto;
    padding: 10px;
}

.center img {
    width: 100%;
}

h1 {
    background: url(../img/stripes.png) no-repeat;
    padding-left: 40px;
    background-size: 40px 60px;
    font-size: 26px;
}

#hypeScore {
    text-align: center;
}
