/*------------------
    MAIN STYLES
------------------*/

body {
	background: black;
	font: 14px Strait;
	color: white;
	width: 95%;
	max-width: 900px;
	margin: 0 auto;
}

.center {
	width: 200px;
	margin: 0 auto;
	padding: 10px;
}

.center img {
	width: 100%;
}

h1 {
	background: url(../img/stripes.png) no-repeat;
	padding-left: 60px;
	background-size: 40px 60px;
	font-size: 26px;
}

#heatmapArea {
	position: relative;
	padding: 2%;
	width: 96%;
	height: 400px;
}

#heatmapArea canvas {
	position: absolute;
	top: 0;
	left: 0;
}