/*------------------
    MAIN STYLES
------------------*/

body {
	background: black;
	font: 14px Strait;
	color: white;
}

.center {
	width: 200px;
	margin: 0 auto;
	padding: 10px;
}

.center img {
	width: 100%;
}